@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bg-primary: #fff;
  --bg-secondary: #f9f9f9;
  --text-color: #000;
}

[data-theme="dark"] {
  --bg-primary: #121212;
  --bg-secondary: #1f1f1f;
  --text-color: #eee;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
